[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/kitty/kitty-themes"]
	path = config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
	ignore = dirty
[submodule "cava"]
	path = cava
	url = https://github.com/karlstav/cava.git
	ignore = dirty
[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
